
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    color: #333;
}

body {
    background-color: #f7f9fc; 
    line-height: 1.6;
}

a {
    text-decoration: none;
}