
.projectGrid {
    display: grid;

    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin-top: 20px;
}


@media (max-width: 768px) { 
    .projectGrid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
