
.skillGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
    gap: 40px; 
    margin-top: 20px;
}

@media (max-width: 992px) { 
    .skillGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; 
    }
}