/* src/index.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 흰색 배경 */
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

/* 섹션 패딩 */
.section-padding {
    padding: 20px 80px;
}

/* 데스크톱 기준 최대 너비 설정 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .section-padding {
        padding: 20px 20px;
    }
}